[Unit]
Description=CP-SOC MPU6050 Tamper Sensor Logger
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/cyber-physical-soc
Environment=PYTHONUNBUFFERED=1
ExecStart=/home/pi/iot-venv/bin/python /home/pi/cyber-physical-soc/sensors/mpu6050_to_jsonl.py
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
